<?xml version="1.0" encoding="UTF-8"?>

<config version="1.0" htmlParse="false">

  <item id="studyTitle">Social Support Sources among Chinese Students in the UK (Q-sort)</item>

  <item id="textAlign">left</item>
  <item id="shuffleCards">true</item>
  <item id="loginrequired">false</item>
  <item id="loginPassword"></item>
  <item id="loginUrl"></item>
  <item id="loginUrlMethod"></item>

  <item id="showStep3">true</item>
  <item id="showStep4">true</item>
  <item id="showStep5">true</item>

  <item id="disableBackButton">true</item>

  <item id="form">

    <label>Year of birth*</label>
    <note>Please enter your year of birth (YYYY).</note>
    <input type="text" required="true" maxlength="4" restricted="0-9"></input>

    <label>Gender*</label>
    <note>Please select your gender.</note>
    <input type="radio" required="true">female;male;non-binary;prefer not to say</input>

    <label>Current study level in the UK*</label>
    <note>Please choose the option that best describes your current status.</note>
    <input type="select" required="true">undergraduate;taught master;research master;PhD;language/pre-sessional;exchange/visiting;other</input>

    <label>Length of time in the UK*</label>
    <note>Please choose your approximate length of stay.</note>
    <input type="select" required="true">less than 3 months;3-6 months;7-12 months;1-2 years;more than 2 years</input>

    <label>Living arrangement*</label>
    <note>Which option best describes your current living situation?</note>
    <input type="select" required="true">living alone;living with roommates (shared accommodation);living with family/partner;university hall of residence;other</input>

    <label>Have you used university support services in the UK?</label>
    <note>This includes the international office, student services, counselling, etc.</note>
    <input type="radio" required="false">yes;no;not sure</input>

    <label>Comments (optional)</label>
    <note>If you would like to share anything about your sorting decisions, you can write it here.</note>
    <input type="textarea" required="false"></input>

    <note bg="false">Fields marked with an * are mandatory.</note>
  </item>

  <item id="submitUrl"></item>
  <item id="submitUrlMethod">post</item>

  <item id="submitMail"></item>

</config>